USE [master]
GO
/****** Object:  Database [dyn_forms]    Script Date: 17/09/2024 18:02:38 ******/
CREATE DATABASE [dyn_forms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dyn_forms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dyn_forms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dyn_forms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dyn_forms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dyn_forms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dyn_forms]
GO
/****** Object:  Table [dbo].[Field]    Script Date: 17/09/2024 18:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Field](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Label] [varchar](128) NULL,
	[Width] [smallint] NULL,
	[Type] [varchar](32) NULL,
	[Enabled] [bit] NOT NULL,
	[FormId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Form]    Script Date: 17/09/2024 18:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Form](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](64) NULL,
	[DisplayName] [varchar](128) NOT NULL,
	[Enabled] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Field] ADD  DEFAULT ((4)) FOR [Width]
GO
ALTER TABLE [dbo].[Field]  WITH CHECK ADD FOREIGN KEY([FormId])
REFERENCES [dbo].[Form] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
